dt strong{color:purple;}
                div#info{color: teal;}
                div p{font-family: cursive;}
                .price{font-family: georgia , serif , cursive ;color: gray;}
                .label{font-weight: bold ; font-variant: small-caps;font-family: verdana;}
                .warning{font-size:xx-small;color: red;}